.offer,
.blog {
	margin-top: 20px;
}
.offer .container,
.blog .container {
	background: $color-secondary;
	text-align: center;
	padding: 1px 0px 0 0px;
}

.offer .container {
	@include breakpoint(ex-mobile) {
		padding-top: 9px;
	}
}

.offer  h2,
.blog h2 {
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: -0.15px;
	word-spacing: -1.5px;

	@include breakpoint(ex-mobile) {
		font-size: 20px;
	}
}

.offer-wrapper {
	position: relative;
	height: 260px;
	overflow: overlay;
	margin-top: 28px;
}

.offer-item  {
	width: 202px;
	display: inline-block;
	position: absolute;

	@include breakpoint(ex-mobile) {
		margin-left: -5px;
		max-width: 360px;
		margin: 0 auto;
	}
}

.offer-item-img {
	position: relative;
}

.offer-item-img .overflow-link {
	width: 4px;
	z-index: 100;
	position: absolute;
	content: "";
	display: block;
	height: 22px;
	background-image: url(../img/sprite.png);
	background-position: 0px -93px;
	right: 7.5%;
	top: 10.5%;
}

.offer-item-img .overflow-link:hover {
	cursor: pointer;
	transition: 1s;
}

.offer-description  h3 {
	font-weight: 400;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	letter-spacing: -0.5px;
	margin: 0;
}

.offer-description__check   {
	display: flex;
	align-items: center;
	justify-content: center;
  	width: 16px;
  	height: 16px;
  	border-radius: 50%;
  	margin-left: 31px;
  	background-color: $color-primary;
  	color: $color-secondary;
  	font-size: 11px;
  	padding-right: 2px;
    box-sizing: border-box;
}

.offer-group {
	color: #8c9ba5;
	font-size: 12px;
	margin-top: 10px;

	@include breakpoint(ex-mobile) {
		margin-top: 8px;
	}

	span {
		margin-right: 5px;
	}
}

.offer-description {
	text-align: left;
	padding-left: 2px;
	margin-top: 18px;

	@include breakpoint(ex-mobile) {
		margin-top: 21px;
	}
}

.offer-description h4 {
	font-size: 12px;
	line-height: .16;
	margin-top: 20px;
	font-weight: 400;
	letter-spacing: -0.25px;
}

.metro-station {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

.metro-station-red {
	background: #E71D32;
	margin-right: 12px;
}

.metro-station-blue {
	background: #2573d8;
	margin-right: 12px;
}

.metro-station-green {
	background: #30ad64;
	margin-right: 12px;
}

.offer-more,
.blog-more {
	font-size: 16px;
	line-height: 24px;
	width: 100%;
	border-bottom: 2px solid #F0F3F6;
	border-top: 2px solid #F0F3F6;
	text-align: center;
	display: block;
	color: $font-color;
	padding: 5px 0 6px;
	margin-top: 10px;
	letter-spacing: -0.45px;
	text-align: center;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

	&:hover,
	&:active,
	&:focus {
		color: $color-primary;
		transition: 1s;
		outline: none;
		border-color: #dee0e2;
	}
}

.offer .overflow {
	left: -24px;
	top: 32px;
}