.offer__item {
	margin-top: 8px;
}

.offer__item-content {
	margin-bottom: 12px;
	padding-top: 1px;
	background: $color-secondary;

	@include breakpoint(tablet) {
    	margin: auto;
    	margin-bottom: 12px;
		padding-top: 1px;
	}

	@include breakpoint(ex-mobile) {
		margin: 0 auto;
		padding: 1px 20px 12px 19px;
    	margin-bottom: 12px;
	}

	.offer__item-main {
		@include flexbox();
		margin: 10px 20px 0 20px;
		flex-flow: row wrap;

		@include breakpoint(ex-mobile) {
			margin: 12px auto 0;
    		max-width: 320px;
		}
		
		.rooms-img {
			width: 242px;
		}

		.offer__item-group {
			width: 320px;
   			margin: 5px 0 0 23px;
			@include breakpoint(tablet) {
				width: 49%;
				text-align: left;
			}

			@include breakpoint(ex-mobile) {
				width: 100%;
				margin-top: 27px;
				margin-left: 0;
			}
		}

		.offer__item-price {
			width: 148px;
			text-align: right;
			margin-left: auto;

			@include breakpoint(tablet) {
				width: 100%;
				margin-top: 15px;
			}

			@include breakpoint(ex-mobile) {
				margin: 17px 0 0 0;

				& .offer__item-cost {
					margin-bottom: 15px;
				    height: 26px;
					align-items: baseline;
				}
			}
		}
	}
}

.offer__item-title {
	color: #2C74C7;
	font-weight: 500;
    font-size: 16px;
    word-spacing: 1px;
    letter-spacing: -.65px;

	&:hover,
	&:active,
	&:focus  {
		outline: none;
		transition: 1s;
		color: #0a407e;
	}
}

.offer__item-main .offer__item-img {
	max-width: 242px;
	display: flex;
    align-items: center;

    @include breakpoint(tablet) {
		width: 45%;
	    margin-top: 2%;
	}

	@include breakpoint(ex-mobile) {
		width: 100%;
		max-width: 326px;
	}

	& img {
		width: 100%;
		@include breakpoint(tablet) {
			width: 100%;
		}
	}
}

.offer__item-title {
	font-weight: 500;
    font-size: 16px;
    word-spacing: 1px;
    letter-spacing: -0.65px;
}

.offer__item-description {
    font-weight: 400;
    font-size: 12px;

    & h4 {
    	letter-spacing: -0.65px;
	    margin-bottom: 12px;
	    font-weight: 400;
    }
}

.offer__item-location {
	font-size: 12px;
	color: #000000;
	font-weight: 400;
	margin-top: 10px;
    margin-left: -2px;
    margin-bottom: 25px;
    letter-spacing: -0.25px;

	& .offer__item-length {
		color: #9B9B9B;
		margin-left: 20px;
	}

	& .metro-station {
		margin-right: 8px;
	}
}

.offer__item-detailed {
	letter-spacing: -0.5px;
	margin-bottom: 19px;

	@include breakpoint(ex-mobile) {
		margin-bottom: 17px;
	}

	&__point {
		margin: 0 7px;
	}
}

.offer__item-text {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: -0.25px;
	color: #000;
}

.offer__item-price h3 {
	font-size: 18px;
	font-weight: 400;
	color: #4A4A4A;
	letter-spacing: -0.25px;
    margin: 0px;

    @include breakpoint(ex-mobile) {
		width: 54%;
		text-align: left;
    }
}

.offer__item-rate {
	margin-top: 5px;

	@include breakpoint(tablet) {
		color: #979797;
	    margin-left: auto;
	}

	@include breakpoint(ex-mobile) {
		margin-top: 0;
	}

	& span {
		margin-right: 7px;
    	margin-left: 11px;
    	border-bottom: 2px solid #D8D8D8;
    	padding-bottom: 2px;

    	@include breakpoint(tablet) {
			display: none;
		}
	}
}

.offer__item-cost {
	margin-top: 4px;
    margin-right: 5px;

    @include breakpoint(tablet) {
		display: flex;
	}
}

.offer__price-rating {
    width: 148px;
    padding: 11px;
    text-align: left;
    border-radius: 4px;
    background: url(../img/icon-comment.png) no-repeat;
    background-position: 116px 10px;
    box-sizing: border-box;
    letter-spacing: -0.25px;
    margin: 24px 12px 20px -1px;
    font-size: 13px;

    @include breakpoint(tablet) {
		margin: 0 12px 0 -1px;
	}

	@include breakpoint(ex-mobile) {
		margin: 0 22px 0 0;
		display: inline-block;
	}

    & p {
		margin: 0;
	}
}

.offer__price-rating__expensive {
	background-color: #ffefea;
	color: #D00202;
}

.offer__price-rating__good {
	background-color: #eafff5;
	color: #30AD64;
	font-size: 12px;
}

.offer__contact {
	text-decoration: none;
	display: inline-block;
	padding: 15px 34px;
	border-radius: 3px;
}

.offer__contact-phone {
	background: url("../img/phone-icon.png") no-repeat center;
	border: 2px solid rgba(48, 174, 98, 0.4);

	&:active,
    &:focus  {
		border: 2px solid rgba(48, 174, 98, 0.8);
		transition: 1s;
		outline: none;
	}

	&:hover {
		border: 2px solid rgba(48, 174, 98, 0.8);
		background-color: rgba(48, 174, 98, 0.4);
		transition: 1s;
		outline: none;
		filter: invert(-100%);
	}

	@include breakpoint(tablet) {
		margin-left: auto;
		margin-right: 5px;
	}
}

.offer__contact-messenger {
	background: url("../img/messenger.png") no-repeat center;
	border: 2px solid rgba(37, 115, 216, 0.4);

    &:active,
    &:focus {
		border: 2px solid rgba(37, 115, 216, 0.8);
		transition: 1s;
		outline: none;
	}

	&:hover {
		border: 2px solid rgba(37, 115, 216, 0.8);
		background-color: rgba(37, 115, 216, 0.4);
		transition: 1s;
		outline: none;
		filter: invert(-100%);
	}
}

.offer__item-footer {
	position: relative;
	text-align: center;
	margin-top: 8px;
	height: 41px;

	@include breakpoint(tablet) {
		margin-top: 34px;
	}	
}

.slider__radio {
    opacity: 0;
    position: absolute;
}

.offer__item-footer .slider__radio-label {
	display: inline-block;
    cursor: pointer;
    position: relative;
    width: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    height: 8px;
    margin-right: 1px;
}

.slider__radio:not(checked)+label  {
	background: rgba(0, 0, 0, 0.3);
}

.offer__item-nav input[type="radio"]:checked + label {
	background: rgba(0, 0, 0, 0.7);
}

.offer__item-section {
	position: absolute;
    top: -12px;
    right: 0;
    text-align: left;
    background: url(../img/icon-right.png) no-repeat 81% 24%;
    width: 136px;

    @include breakpoint(ex-mobile) {	
		right: -22px;
    }
    
    & p {
    	font-size: 12px;
	    line-height: 1.5;
	    color: #979797;
	    margin: 0;
    }
}

.slider-prev {
	background: url(../img/icon-left.png) no-repeat 1% 24%;
    left: 20px;
    padding-left: 22px;

    @include breakpoint(ex-mobile) {	
		left: 22px;
    }
}

.listing-hamburger {
	@include breakpoint(tablet) {
		top: 4px;
	}
}

.offer__item-contacts {
	@include breakpoint(tablet) {
		text-align: left;
		@include flexbox();

	}
}