input.radio-nav {
	visibility: hidden;
    display: none;
    
    & label {
    	border-bottom: 2px solid transparent;
    }
}

.radio-nav + label:hover {
    border-bottom: 2px solid #30ae63;
    cursor: pointer;
    padding-bottom: 5px;
}

.radio-nav:checked+label {
	border-bottom: 2px solid #30ae63;
    padding-bottom: 5px;
}